python-dotenv
# will return to store history / results, other details in cache
# but won't be first implementation
# redis
cryptography
pandas
fastapi
uvicorn
jinja2
sqlalchemy 
sqlite
# removed postgres, oracle, sql server libs
# going to move forward with using sqlalchemy on all directly
# so i dont need logic to swap based on current editor
# postgres
#psycopg2-binary
# oracle
#cx_Oracle
# sql server
#pyodbc

# Serving for prod
gunicorn
